<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
        integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>Day 9 | My Project HBS</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary px-5">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="../assets/images/logo.jpg" alt="Logo" width="40" class="d-inline-block">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/myProject">My Project</a>
                    </li>
                </ul>
                <a href="/contact" type="button" class="btn-contact">Contact Me</a>
            </div>
        </div>
    </nav>

    <div class="container my-5">
        <div class="card border-0 shadow mx-auto p-5" style="max-width: 1100px;">
            <h1 class="mb-4">Add Project</h1>
            <form id="projectForm" action="/myProject" method="post" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Project Name</label>
                    <input name="projectName" type="text" class="form-control" id="projectName" placeholder="Membuat aplikasi ..." required>
                </div>
                <div class="mb-3 d-flex gap-2">
                    <div class="w-50">
                        <label for="startDate" class="form-label">Start Date</label>
                        <input name="startDate" type="date" class="form-control" id="startDate" placeholder="name@example.com" required>
                    </div>
                    <div class="w-50">
                        <label for="endDate" class="form-label">End Date</label>
                        <input name="endDate" type="date" class="form-control" id="endDate" placeholder="name@example.com" required>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="description" class="form-control" id="description" rows="3" placeholder="Masukkan deskripsi project anda ..." required></textarea>
                </div>
                <div class="mb-3">
                    <label for="checkList" class="form-label">Technologies</label>
                    <div class="row row-cols-2">
                        <div class="col">
                            <div class="form-check">
                                <input name="checkbox" class="form-check-input" type="checkbox" id="nodejs"
                                    value='<i class="fa-brands fa-node-js"></i>'>
                                <label class="form-check-label" for="nodejs">Node JS</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-check">
                                <input name="checkbox" class="form-check-input" type="checkbox" id="reactjs"
                                    value='<i class="fa-brands fa-react"></i>'>
                                <label class="form-check-label" for="reactjs">React JS</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-check">
                                <input name="checkbox" class="form-check-input" type="checkbox" id="bootstrap"
                                    value='<i class="fa-brands fa-bootstrap"></i>'>
                                <label class="form-check-label" for="bootstrap">Bootstrap</label>
                            </div>
                        </div>
                        <!-- <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="ts">
                                <label class="form-check-label" for="ts">TypeScript</label>
                            </div>
                        </div> -->
                    </div>
                </div>
                <div class="mb-3">
                    <label for="formFile" class="form-label">Upload Image</label>
                    <input name="image" class="form-control" type="file" id="formFile" accept=".jpg, .jpeg, .png" required>
                </div>
                <div class="text-end">
                    <button type="submit" class="btn btn-primary rounded-pill px-5">Submit</button>
                </div>
            </form>

        </div>
    </div>

    <div class="container my-5">
        <div class="text-center mb-4">
            <h1 class="mb-4">My Projects</h1>
        </div>
        <div id="card-container" class="card border-0 shadow mx-auto p-5 flex-row flex-wrap gap-4 justify-content-between"
            style="max-width: 1100px;">
    
            {{#if myProjects.length}}
            {{#each myProjects}}
            <div class="card" style="width: 18rem;">
                <img src="{{this.imageUrl}}" height="200px" class="card-img-top object-fit-cover" alt="foto project">
                <div class="card-body">
                    <h5 class="card-title text-capitalize fs-3 fw-bold">
                        {{this.projectName}}
                    </h5>
                    <p class="card-subtitle mb-2 text-muted fs-6">
                        Durasi: {{this.startDate}} → {{this.endDate}}
                    </p>
                    <p class="card-text fs-6" style="text-align: justify; min-height: 100px;">
                        {{this.description}}
                    </p>
                    <div class="mb-3 fs-4 text-secondary">
                        {{#if this.techs.length}}
                       {{{ this.techs }}}
                        {{else}}
                        <p class="text-muted fs-6">No technologies selected</p>
                        {{/if}}
                    </div>
                    <div class="d-flex gap-2">
                        <a href="#" class="btn btn-warning w-50">edit</a>
                        <a href="#" class="btn btn-danger w-50">delete</a>
                    </div>
                </div>
            </div>
            {{/each}}
            {{else}}
            <p class="fs-4">Belum ada data project.</p>
            {{/if}}
    
        </div>
    </div>



    {{!-- <script src="../assets/scripts/index.js"></script> --}}
</body>

</html>